/* ******Hearder Component */
.appBar {
  background-color: #3b7ffd;
  height: 10vh;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}

.appBar p {
  font-size: 30px;
}

.menuIcon {
  height: 30px;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .menuIcon {
    height: 20px;
    margin-right: 20px;
  }

  .appBar p {
    font-size: 22px;
  }
}


/* ******NavDrawer Component */
.navDrawer {
  width: 200px;
  background-color: #fff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
  height: 90vh;
}

.navDrawer ul {
  list-style: none;
}

.navDrawer ul li {
  padding: 15px 0 15px 15px;
  font-size: 16px;
  color: #292929;
}

.navDrawer ul li:hover {
  background-color: #3b7ffd;
  color: #fff;
  cursor: pointer;
}

.navIcon {
  margin-right: 8px;
  height: 18px;
}

.divider {
  height: 1.5px;
  width: 100%;
  background-color: #a1a0a06f;
}

@media only screen and (max-width: 600px) {
  .navDrawer {

    position: absolute;
    left: 0;
    z-index: 999;
  }
}


/* Signin Compinent */
.loginCard {
  display: flex;
  flex-direction: column;
  background-color: #50c3fd;
  padding: 20px;
  width: 500px;
  border-radius: 20px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginCard p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.inputField:focus {
  outline: 2px solid #fff;
  /* Red outline style when in focus */
}

.custom-button {
  background-color: #1707f6;
  /* Button background color */
  color: #ffffff;
  /* Text color */
  padding: 10px 20px;
  /* Padding around text */
  font-size: 16px;
  /* Font size */
  border: none;
  /* Remove default button border */
  border-radius: 5px;
  /* Add border radius for rounded corners */
  cursor: pointer;
  /* Change cursor on hover */
  transition: background-color 0.3s;
  /* Add transition for smoother hover effect */
}

.custom-button:hover {
  background-color: #4354f0;
  /* Change background color on hover */
}

@media only screen and (max-width: 600px) {
  .loginCard {
    display: flex;
    flex-direction: column;
    background-color: #50c3fd;
    padding: 20px;
    width: 100%;
    border-radius: 0px;
  }
}


/* Home page */

.cardBtn{
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-top: 5px;
}
.homeStyle{
  width: 80vw;
}
.admitedIn{
  color: #5a5a59 !important;
  font-size: 22px !important;
  font-weight: bold !important;
}
.billUpdateBtn{
  color: #07f637;
  cursor: pointer;
}
.dischargeBtn{
  color: red;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .homeStyle{
    width: 100%;
  }
}


/* LabEntry Page */
.LabEntryPage{
  /* height: 90vh; */
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}